::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #084734;
    
}

::-webkit-scrollbar-thumb {
    background: #cef17b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d4f58c;
}

* {
    scrollbar-color: #cef17b #084734;
}

html {
    scroll-behavior: smooth;
}